
.solid{
    padding: 30px;
&.primary{
    background-color:purple;
  
    }
    &.secondary{
        background-color: aquamarine;
    }
   &.black{
        background-color: black;
        color:white;
    }
    &.white{
        background-color: white;
        color:black;
    }
}
.outline{
    padding: 30px;
    &.primary{
       
        border:5px solid  purple;
    }
    &.secondary{
      
        border:5px solid aquamarine;
    }
    &.white{
       
        border:5px solid pink;
    }
    &.black{
       
        border:5px solid blue;
    }
}